<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>Memos</title>

  <!-- 'viewport' is used by bootstrap to respond to device size -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Javascript:  JQuery from a content distribution network (CDN) -->
  <script
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
  </script>

  <!-- Bootstrap includes javascript and css  (must follow jquery) -->
  <link rel="stylesheet"
   href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
   <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
</script>

   <!-- Our own style sheet -->
   <link rel="stylesheet" href="/static/css/memos.css" />


</head>
<body>
<div class="container">

<!-- Flashed messages before content -->
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<h1>Memos:</h1>

<!-- This refreshes and shows all the memos in session  -->
{% if session.memos %}
    {% for memo in session.memos %}
  <div class="memo">
  <div class="row">
  <div class="subrow" style="border: thin solid green">
  <div class="col-md-2">
      {{ memo.date | normal }}
  </div>
  <div class="col-md-8">
    {{ memo.text }}
  </div>
  </div>
  <div class="col-md-2">
      <button id="deltebtn" onclick="deleteMemo('{{memo._id}}')">Delete</button>
  </div>
  </div> <!-- row -->
  </div> <!-- memo -->
  <br> <!-- split up memos -->
  {% endfor %}
{% else %}
  <p>No memos for you. </p>  
{% endif %}

<div id="parent">
</div>

<br>
<br>

<div class="row">
    <label class="col-md-4">Add Memos(please input correct values): </label>
</div>

<!--inputs memos-->
<div class="row">
    <input class="col-md-2" id="date" placeholder="MM/DD/YYYY"/>
    <input type="text" class="col-md-6" id="newmemo" placeholder="Write Memo Here"/>
    <button type="button" onclick="newMemoEntered()">Add</button>
</div>

<script type="text/javascript">
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

    //delete a memo
    function deleteMemo(mem){
        var deleteId = mem;

        $.getJSON($SCRIPT_ROOT + '/_deletememo',
                {Id:deleteId},
                function(data){
                    clear();
                    var time = data.result;
                });
    };

    function clear(){
        
        //Unnecessary with page reloading.
        //var e_date = $('#date').val("");
        //var e_newmemo = $('#newmemo').val("");

        //refresh page to clear the inputs
        //and display new memos.
        location.reload(true);
    };

    //enter new memo
    function newMemoEntered(){
        var e_date = $('#date').val();
        var e_newmemo = $('#newmemo').val();

        $.getJSON($SCRIPT_ROOT + '/_newMemoEntered',
                {date:e_date, newmemo:e_newmemo},
                function(data){
                    clear();
                    var time = data.result;
                });
    };

</script>

</div> <!-- container -->
</body>
</html>
